---
layout: page
title: Тесты с Liquid
permalink: /liquid-test/
---

{% assign my_array = "CSS, Flexbox, draw.io, .NET и C#" | split: ", " %}

<p>{{ my_array | sort | join: ", " }}</p>
<p>{{ my_array | sort_natural | join: ", " }}</p>

{% assign my_array = "Яндекс.Словарь, шахматы, алгоритмы" | split: ", " %}

<p>{{ my_array | sort | join: ", " }}</p>
<p>{{ my_array | sort_natural | join: ", " }}</p>

{% assign my_array = "Яндекс.Словарь, шахматы, алгоритмы, CSS, Flexbox, draw.io, .NET и C#" | split: ", " %}

<p>{{ my_array | sort | join: ", " }}</p>
<p>{{ my_array | sort_natural | join: ", " }}</p>


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.minima.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li>
            <a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page" title="Go to Page {{ paginator.previous_page }}">
              {{ paginator.previous_page }}
            </a>
          </li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li>
            <a href="{{ paginator.next_page_path | relative_url }}" class="next-page" title="Go to Page {{ paginator.next_page }}">
              {{ paginator.next_page }}
            </a>
          </li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}
  {%- endif -%}
  
