---
layout: page
title: Метки
permalink: /tags/
---

{% if site.posts.size > 0 %}

  {% if site.tags.size > 0 %}

    {% capture tag_names %}
      {% for tag in site.tags %}
        {{- tag[0] | downcase }}|{{ tag[0] }}{% unless forloop.last %}:::{% endunless -%}
      {% endfor %}
    {% endcapture %}

    {% assign sorted_tag_names = tag_names | strip | split: ":::" | sort %}

    <!-- Облако меток -->
    <div class="tag-cloud">
      {% for tag in sorted_tag_names %}
        {% assign original_tag = tag | split: "|" | last %}
        <a href="#{{ original_tag | slugify }}" class="tag-link">
          {{ original_tag }} ({{ site.tags[original_tag] | size }})
        </a>
      {% endfor %}
    </div>

    <!-- Список постов и якоря для меток -->
    {% for tag in sorted_tag_names %}
      {% assign original_tag = tag | split: "|" | last %}
      <h3 id="{{ original_tag | slugify }}">{{ original_tag }}</h3>
      <ul>
        {% for post in site.tags[original_tag] %}
          <li><a href="{{ post.url }}">{{ post.title | remove: "<br>" }}</a></li>
        {% endfor %}
      </ul>
    {% endfor %}

  {% else %}

    <p>На данный момент в блоге нет постов с метками.</p>

  {% endif %}

{% else %}

  <p>На данный момент в блоге нет ни одного поста.</p>

{% endif %}
