---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
  
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | remove: "<br>" }}
          </a>
        </h3>
        {%- if site.minima.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">

        {% for page_num in (1..paginator.total_pages) %}
          {% if page_num == paginator.page %}
            <li><div class="current-page">{{ paginator.page }}</div></li>
          {% else %}
            {% if page_num == 1 %}
              <li><a href="{{ '/' | relative_url }}" class="next-page">{{ page_num }}</a></li>
            {% else %}
              <li><a href="{{ site.paginate_path | replace: ':num', page_num | relative_url }}" class="next-page">{{ page_num }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}

        </ul>
      </div>
    {%- endif %}
  
  {%- endif -%}
</div>
